<!-- <footer class="blood-donation-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets\Images\bloodbanklogo.jpeg" alt="Blood Donation Logo">
            </div>
            <div class="footer-info">
                <h4>Contact Us</h4>
                <p>Email: info@blooddonation.org</p>
                <p>Phone: +123 456 7890</p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/nagesh-tompe-774442227/"><img src="assets\Images\linkedin.webp" alt="linkedin-logo"></a>
                <a href=""><img src="assets\Images\instalogo.jpeg" alt="insta-logo"></a>
                <a href="#"><img src="assets\Images\githublogo.jpeg" alt="github-logo"></a>
            </div>
        </div>
    </div>
</footer> -->
<div class="footer">
    Copyright <b>©</b>-2023 nageshtompe. All rights reserved.
</div>